@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
     background: #D3D3D3;
}

a{
    text-decoration: none;
}

header{
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 100px 40px;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    background: #D3D3D3;
}

nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

nav a{
    color: #101010;
    font-size: 20px;
    font-weight: 700;
}

nav a:hover{
    color: #D7C46C;
}

button{
    background: #101010;
    color: #D7C46C;
    border: none;
    text-transform: uppercase;
    padding: 10px 60px;
    font-size: 15px;
    cursor: pointer;
}

.contact{
    color: #101010;
    font-size: 20px;
    font-weight: 700;
}


.burger-btn{
    background: transparent;
    padding: 0;
    display: none;
}

#carouselExample{
    box-shadow: 0px 0px 2px black;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.Каталог-главная{
    margin: 50px auto;
    max-width: 700;
    padding: 0px 30px;
    line-height: 150%;
    text-align: center;
}

.Каталог-главная a{
    color: #101010;
    font-size: 40px;
    font-weight: 700;
}

.Каталог-главная a:hover{
    color: #D7C46C;
}

.prodact-card a{
    font-family: "Montserrat", sans-serif;
    color: #101010;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.prodact-card a:hover{
    color: #D7C46C;
}

.О_нас{
    margin: 50px auto;
    max-width: 1080px;
    padding: 0px 30px;
    line-height: 150%;
    text-align: center;
}

h2{
    font-size: 64px;
    color: #101010;
    font-family: "Montserrat", serif;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
}

.О_нас p{
    font-family: "Montserrat", serif;
    color: #101010;
    font-size: 40px;
    margin: 30px 0px;
    font-weight: 700;
    line-height: 130%;
}

h3{
    color: #101010;
    font-family: "Montserrat", serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}

.our-events{
    text-align: center;
    padding: 30px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1300px;
    margin: 25px auto;
    gap: 20px;
}

.card{
    position: relative;
}

.card img{
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.card a{
    font-size: 40px;
    color: #101010;
    font-weight: 700;
}

.card a:hover{
    color: #D7C46C;
}


.card-body{
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-body h4{
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
}

.card-body p{
    font-size: 15px;
    font-weight: 500;
    text-transform: none;
}

.contact-us{
    max-width: 940px;
    margin: 100px auto;
    padding: 30px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.contact-form-fields{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 50px;
}

.contact-form-fields input{
    border: none;
    border-bottom: 1px solid #101010;
    padding: 10px 0px;
    outline: none;
}

.contact-form textarea{
    resize: none;
    height: 100px;
    border: 1px solid #101010;
    outline: none;
}

.contact-form button{
    width: 235px;
    display: block;
    margin: 0 auto;
}

footer{
    background: #101010;
    padding: 60px;
}

.footer-body{
    max-width: 1160px;
    margin: 0 auto;
    color: #D7C46C;
}

.footer-body h3{
    color: #D7C46C;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.footer-body-links{
    display: flex;
    justify-content: space-between;
    padding: 65px 0px 30px;
}

.footer-body-links ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-body-links a{
    font-weight: 300;
    color: #D3D3D3; 
}

.footer-body-links a:hover{
    color: #D7C46C; 
}

.footer-body-links h4{
    margin-bottom: 15px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 24px;
}

.footer-social-media{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0px;
}

 .rights{
    font-weight: 100;
    color: #D3D3D3;
    opacity: 0.5;
}



@media screen and (max-width: 992px) {
    .burger-btn{
        display: block;
    }
    nav{
        display: none;
    }

    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

    .card img{
        height: 60vw;
    }
 }

 @media screen and (max-width: 768px) {
    .hero{
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    .hero button, .hero-choose{
        width: 235px;
    }
    
    .contact-form-fields{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 40px;
     }

    .contact-form{
        gap: 30px;
    }

}

@media screen and (max-width: 550px) {
    .footer-body-links, .footer-policy, .footer-social-media, .rights{
        display: none;
}
.card-body h3, .footer-body h3{
    font-size: 32px;
}

 h2{
        font-size: 30px;
    }

.О_нас p{
        font-size: 16px;
        margin: 14px 0px;
        color: #101010a9;
    }
h3{
    font-size: 20px;
    font-weight: 800;
}

}

@media screen and (max-width: 450px) {
    header{
        padding: 30px;
    }
   

    

    .prodact-card a{
        font-size: 15px;
    }

    .card-date{
        width: 70px;
        height: 70px;
        font-size: 16px;
    }

    .card-date-day{
        font-size: 20px;
    }

    .Каталог-главная a, .card a{
        font-size: 20px;
    }
}












