@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
     background: #D3D3D3;
}

a{
    text-decoration: none;
}

header{
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 100px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #D3D3D3;
}

nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

nav a{
    color: #101010;
    font-size: 20px;
    font-weight: 700;
}

nav a:hover{
    color: #D7C46C;
}

button{
    background: #101010;
    color: #D7C46C;
    border: none;
    text-transform: uppercase;
    padding: 10px 60px;
    font-size: 15px;
    cursor: pointer;
}

.contact{
    color: #101010;
    font-size: 20px;
    font-weight: 700;
}

.burger-btn{
    background: transparent;
    padding: 0;
    display: none;
}

.назад{
    padding: 20px;
}

.назад a{
    color: #101010;   
}

h2{
    font-size: 64px;
    color: #101010;
    font-family: "Montserrat", serif;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
}

h3{
    color: #101010;
    font-family: "Montserrat", serif;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
}

.our-events{
    text-align: center;
    padding: 30px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
    margin: 40px auto;
    gap: 20px;
}

.card{
    position: relative;
}

.card img{
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.card a{
    font-size: 30px;
    color: #D7C46C;
    font-weight: 600;
}

.card a:hover{
    color: #101010;
}

.card-body{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #D3D3D3;
}

.card-body h4{
    font-size: 30px;
    font-weight: 600;
    text-transform: none;
    text-transform: uppercase;
}

.card-body p{
    font-size: 25px;
    font-weight: 600;
    text-transform: none;
}

.Подробнее{
    font-size: 40px;
    font-weight: 500;
    text-transform: none;
}

.Напоминание{
    margin: 50px auto;
    max-width: 700;
    padding: 0px 30px;
    line-height: 150%;
    text-align: center;
}

.opacity{
    opacity: 0.4;
}

.Напоминание a{
    color: #101010;
    font-size: 30px;
    font-weight: 600;
}

.Напоминание a:hover{
    color: #D7C46C;
}

.О_нас p{
    margin: 50px 0px;
    font-weight: bold;
}

.О_нас{
    margin: 50px auto;
    max-width: 1080px;
    padding: 0px 30px;
    line-height: 150%;
    text-align: center;
}

.blockquote{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.btn-aroma a{
    color: #D7C46C;    
    text-transform: none;
}


footer{
    background: #101010;
    padding: 60px;
}

.footer-body{
    max-width: 1160px;
    margin: 0 auto;
    color: #D7C46C;
}

.footer-body h3{
    color: #D7C46C;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.footer-body-links{
    display: flex;
    justify-content: space-between;
    padding: 65px 0px 30px;
}

.footer-body-links ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-body-links a{
    font-weight: 300;
    color: #D3D3D3; 
}

.footer-body-links a:hover{
    color: #D7C46C; 
}

.footer-body-links h4{
    margin-bottom: 15px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 24px;
}

.footer-social-media{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0px;
}

 .rights{
    font-weight: 100;
    color: #D3D3D3;
    opacity: 0.5;
}


@media screen and (max-width: 992px) {
    .burger-btn{
        display: block;
    }
    nav{
        display: none;
    }

    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

    .card img{
        height: 60vw;
    }
 }

 @media screen and (max-width: 768px) {
    .hero{
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    .hero button, .hero-choose{
        width: 235px;
    }    
}

@media screen and (max-width: 550px) {
    .footer-body-links, .footer-policy, .footer-social-media, .rights{
        display: none;
}

 h2{
        font-size: 32px;
    }

.card-body h3, .footer-body h3{
    font-size: 32px;
}

.card-body h4{
    font-size: 25px;
}

.card-body p, .Подробнее{
    font-size: 20px;
}

.card a{
    font-size: 20px;
}

  .Напоминание a{
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    header{
        padding: 30px;
    }
   
}

