@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
     background: #D3D3D3;
}

a{
    text-decoration: none;
}

header{
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 100px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #D3D3D3;
}

nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

nav a{
    color: #101010;
    font-size: 20px;
    font-weight: 700;
}

nav a:hover{
    color: #D7C46C;
}

button{
    background: #101010;
    color: #D7C46C;
    border: none;
    text-transform: uppercase;
    padding: 10px 60px;
    font-size: 15px;
    cursor: pointer;
}

.contact{
    color: #101010;
    font-size: 25px;
    font-weight: 700;
}


.burger-btn{
    background: transparent;
    padding: 0;
    display: none;
}

.btn-aroma a{
    color: #D7C46C;    
    text-transform: none;
}

.назад{
    padding: 10px;
}

.назад a{
    font-size: 30px;
    color: #101010;   
}

.назад a:hover{
    color: #D7C46C;
}

.Каталог-главная{
    margin: 0px auto;
    max-width: 700;
    padding: 20px 30px;
    line-height: normal;
    text-align: center;
}

.blockquote{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.btn-aroma a{
    color: #D7C46C;    
    text-transform: none;
}

.prodact-card p{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-transform: none;
}

h2{
    font-size: 50px;
    color: #101010;
    font-family: "Montserrat", serif;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
}

h3{
    font-size: 40px;
    color: #101010;
    font-family: "Montserrat", serif;
    font-weight: 800;
    line-height: 150%;
    text-align: center;
}

h6{
    font-size: 40px;
    font-weight: 500;
}

.price{
    font-size: 30px;
    font-weight: 500;
}

.opacity{
    opacity: 0.4;
}

.Напоминание a{
    color: #101010;
    font-size: 30px;
    font-weight: 600;
}

.Напоминание a:hover{
    color: #D7C46C;
}


footer{
    background: #101010;
    padding: 60px;
}

.footer-body{
    max-width: 1160px;
    margin: 0 auto;
    color: #D7C46C;
}

.footer-body h3{
    color: #D7C46C;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.footer-body-links{
    display: flex;
    justify-content: space-between;
    padding: 65px 0px 30px;
}

.footer-body-links ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-body-links a{
    font-weight: 300;
    color: #D3D3D3; 
}

.footer-body-links a:hover{
    color: #D7C46C; 
}

.footer-body-links h4{
    margin-bottom: 15px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 24px;
}

.footer-social-media{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0px;
}

.footer-policy{
    display: flex;
    align-items: center;
    gap: 15px;
    border-top: 2px solid #D3D3D3;
    padding: 15px 0px 32px;
   }

   .footer-policy a{
    color: #D3D3D3;
    font-weight: 100;
 }

 .rights{
    font-weight: 100;
    color: #D3D3D3;
    opacity: 0.5;
}

.назад{
    padding: 20px;
}

.назад a{
    color: #101010;   
}


@media screen and (max-width: 992px) {
    .burger-btn{
        display: block;
    }
    nav{
        display: none;
    }

    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

    .card img{
        height: 60vw;
    }

   
 }

 @media screen and (max-width: 768px) {
    .hero{
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    .hero button, .hero-choose, .btn-aroma{
        width: 235px;
    }
    
    .contact-form-fields{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 40px;
     }

    .contact-form{
        gap: 30px;
    }

    .назад a{
    font-size: 13px;
}

 .prodact-card p{
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
}

h3, h6{
    font-size: 20px;
    font-weight: 600;
}

.price{
    font-size: 15px;
    font-weight: 500;
}

 }

@media screen and (max-width: 550px) {
    .footer-body-links, .footer-policy, .footer-social-media, .rights{
        display: none;
}
.card-body h3, .footer-body h3{
    font-size: 32px;
}
  .Каталог-главная a{
        font-size: 20px;
    }

    .Напоминание a{
        font-size: 15px;
    }
     .О_нас p{
        font-size: 14px;
        margin: 14px 0px;
        color: #101010a9;
    } 
}

@media screen and (max-width: 450px) {
    header{
        padding: 30px;
    }
    h2{
        font-size: 25px;
    }

    
}










